In [2]:
list_1=[5, 4, 17, 19, 30, 2, 7, 10, 45]
Sum = sum(list_1)
print(Sum)

139

In [3]:
t2 = max(list_1)
print(t2)

45

In [4]:
newlist = [x for x in list_1  if x % 2 == 0]
newlist

[4, 30, 2, 10]

In [6]:
list_1[0:6]

[5, 4, 17, 19, 30, 2]